<nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand px-2" routerLink="/">
            <img src="../../../favicon.ico" alt="Angular" width="30" height="30" class="d-inline-block align-top">
            Angular Routing Demo
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/authors">Authors</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/products">Products</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/lazy">Lazy One</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/lazy/two">Lazy Two</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/admin">Admin</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/crud">Crud App</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>