<div class="container">
    <app-component-one></app-component-one>
    <app-component-two></app-component-two>
    <hr>
    <app-component-one></app-component-one>
    <app-component-two></app-component-two>
</div>