<div class="container">
    <div class="card bg-secondary text-white mt-5">
        <div class="card-header">
            <h3>Single Component</h3>
        </div>
        <div class="card-body">
            <div class="options">
                <a class="{{isSelected(author) && 'selected' || ''}}" *ngFor="let author of list"
                    (click)=selectAuthor(author)>{{author.name}}</a>
            </div>
        </div>
        <div class="card-footer">
            <textarea class="padtop" readonly *ngIf="selectedAuthor">{{selectedAuthor.quote!}}</textarea>
        </div>
    </div>
</div>