<div class="container">
    <div class="card bg-secondary text-white mt-5">
        <div class="card-header">
            <h3>Sibling Component with Service Using RxJS</h3>
        </div>
        <div class="card-body">
            <author-list></author-list>
        </div>
        <div class="card-footer">
            <author-quote></author-quote>
        </div>
    </div>
</div>