<div>
    <div class="text-center">
        <h3 class="text-info">Counter Component</h3>
    </div>

    <div class="d-grid gap-2 mx-auto col-6">
        <input type="number" class="form-control form-control-lg" [(ngModel)]="count" [disabled]="flag">
        <button class="btn btn-info" (click)="inc()" [disabled]="flag">
            <span class='fs-4'>+</span>
        </button>
        <button class="btn btn-info" (click)="dec()" [disabled]="flag">
            <span class='fs-4'>-</span>
        </button>
        <button class="btn btn-info" [disabled]="!flag" (click)="reset()">
            <span class='fs-4'>Reset</span>
        </button>
    </div>
</div>