<div class="container">
    <div class="row">
        <h1 class="text-primary text-center">Async Programming in Angular</h1>
        <h2 class="text-primary text-center">Using Promise & Observables</h2>
    </div>

    <async-promise></async-promise>
    <hr>
    <async-observable></async-observable>
</div>