/* You can add global styles to this file, and also import other style files */

.blue {
    color: blue;
}

.red {
    color: red;
}

.bg-green {
    background-color: lightgreen;
}

.placeholder-overlay {
    pointer-events: none;
    /* Allows clicks to pass through */
    color: rgba(0, 0, 0, 0.25);
    /* Placeholder text color */
    /* Ensure the font size and padding match the input field */
}

/* The container holding the input needs to be positioned relatively */
.input-container {
    position: relative;
    display: inline-block;
}