<p>assign-two works!</p>
<div class="card card-primary">
    <div class="card-header">
        <h4>Assignment Two</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="itemSelection">Select list:</label>
            <select class="form-select mt-3" id="itemSelection" [(ngModel)]="selected">
                <option value="">Please select...</option>
                <option value="Item1">Item One</option>
                <option value="Item2">Item Two</option>
                <option value="Item3">Item Three</option>
            </select>
        </div>
    </div>
    <div class="card-footer">
        <h4 class="text-primary">Selected: {{selected}}</h4>
    </div>
</div>