<style>
    /* author-quote.component.css */
    .custom-spinner .spinner-border {
        width: 4rem;
        /* Size of the spinner */
        height: 4rem;
        /* Size of the spinner */
        border-width: 0.4rem;
        /* Thickness of the spinner border */
        border-color: rgba(255, 165, 0, 0.3);
        /* Sets a semi-transparent border color using light orange */
        border-top-color: #ff8c00;
        /* Darker orange color for the top border (spinner color) */
        border-radius: 50%;
        /* Ensures the spinner is perfectly circular */
        animation: spin 1s linear infinite;
        /* Custom spin speed */
        box-shadow: 0 0 0.5rem #ff8c00;
        /* Adds a glow effect to the spinner with an orange shadow */
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<h4 class="text-light">Author Quote Component</h4>

<div *ngIf="isLoading" class="text-center my-3 custom-spinner">
    <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<textarea class="padtop" readonly *ngIf="selectedAuthor">{{selectedAuthor.quote!}}</textarea>