<div class="form-group mt-3 mb-3">
    <label>Search Name, which starts with</label>
    <input type="text" class="form-control" [(ngModel)]="by">
</div>

<ul class="list-group">
    <li *ngFor="let person of personList | filter:by" class="list-group-item">
        <a href="https://www.google.com" (click)="select(person, $event)">{{person}}</a>
    </li>
</ul>

<hr>
<h3 class="text-primary">Selected: {{selected}}</h3>