<ul class="list-group">
    <li *ngFor="let person of personList" class="list-group-item">
        <a href="https://www.google.com" (click)="select(person, $event)">{{person}}</a>
    </li>
</ul>

<hr>
<h3 class="text-primary">Selected: {{selected}}</h3>