<p>assign-two works!</p>
<div class="card card-primary">
    <div class="card-header">
        <h4>Assignment Two</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="itemSelection">Select list:</label>
            <select class="form-select mt-3" id="itemSelection" [(ngModel)]="selected">
                <option value="">Please select color...</option>
                <option value="#FF0000">Red</option>
                <option value="#00FF00">Green</option>
                <option value="#0000FF">Blue</option>
            </select>
        </div>
    </div>
    <div class="card-footer" [ngStyle]="{'background-color': selected}">
        <h4 [ngStyle]="{'color': selected ? 'white' : ''}">Selected: {{selected}}</h4>
    </div>
</div>